<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>faqs</key>
	<array>
		<dict>
			<key>q</key>
			<string>如何进行一键配置？</string>
			<key>a</key>
			<string>首先确保您的智能手机已经连上WiFi，再检查设备通电后是否处于WiFi指示灯快闪状态，否则长按插孔开关至WiFi指示灯快闪。然后打开APP，点击“配置”，输入您手机当前所连WiFi名称及密码即可。如果配置失败，则重复上述步骤重新配置。</string>
		</dict>
		<dict>
			<key>q</key>
			<string>如何删除设备？</string>
			<key>a</key>
			<string>长按设备列表页的某个设备，可对其进行删除以及闪烁操作。</string>
		</dict>
		<dict>
			<key>q</key>
			<string>设备状态显示远程、在线、离线、new分别表示什么？</string>
			<key>a</key>
			<string>“远程”表示设备与客户端不在一个局域网内。“在线”表示设备与客户端在同一局域网内。“离线”表示设备配置过，但是没有接通电源。“New”表示新添加的设备。</string>
		</dict>
		<dict>
			<key>q</key>
			<string>什么是设备锁定？在哪里对设备进行锁定？</string>
			<key>a</key>
			<string>设备锁定是对设备进行加锁功能，加锁后，未添加该设备的终端将无法搜索到该设备，方便用户安全管理自己的设备。进入控制主页面，点击右上角“…”编辑图标可以进入设备信息编辑页面，可以选择对设备上锁。</string>
		</dict>
		<dict>
			<key>q</key>
			<string>设备的定时任务最多能添加几组？</string>
			<key>a</key>
			<string>最多能添加20组定时任务。</string>
		</dict>
		<dict>
			<key>q</key>
			<string>设备可以远程控制吗？</string>
			<key>a</key>
			<string>可以，只要设备在线，手机可以上网，那么全球任何位置都能控制。</string>
		</dict>
		<dict>
			<key>q</key>
			<string>什么是延时功能？</string>
			<key>a</key>
			<string>可以对设备进行延时XX分钟开启或者关闭操作。</string>
		</dict>
		<dict>
			<key>q</key>
			<string>如何编辑设备信息？</string>
			<key>a</key>
			<string>进入控制主页面，点击右上角“…”编辑图标，可以更改设备名称及图片。</string>
		</dict>
		<dict>
			<key>q</key>
			<string>如何控制设备开关状态？</string>
			<key>a</key>
			<string>点击【控制】，选定该设备，进入控制主页面，插排分为第一组和第二组，点击开、关图标分别控制每组插孔的开关状态。</string>
		</dict>
		<dict>
			<key>q</key>
			<string>什么是场景？</string>
			<key>a</key>
			<string>“场景”功能是可以在一个情景模式下设置一系列的操作命令，例如客厅内的空调、电视、机顶盒、灯光等。您可以选择多个设备、多条开关命令将其集中于一个场景中，只需轻轻一点场景图标，就能够触发该场景下的所有命令。</string>
		</dict>
		<dict>
			<key>q</key>
			<string>长按场景图标和短按场景图标分别代表什么？</string>
			<key>a</key>
			<string>长按场景图标可以编辑该场景的信息，或者删除该场景；短按场景图标则会执行你所选择的场景命令。</string>
		</dict>
		<dict>
			<key>q</key>
			<string>别人会不会找到我的设备，网络安全如何保证？</string>
			<key>a</key>
			<string>只有知道您家上网密码并进入同一网络的手机才可以找到设备；同时APP设置了锁定功能，您配置完成后打开锁定功能，其他人将搜索不到您的设备，以后就只有您的家中人可以进行安全控制。
            </string>
		</dict>
		<dict>
			<key>q</key>
			<string>我可以对每个插孔进行单独控制吗？</string>
			<key>a</key>
			<string>不能，该设备为六孔插排，分为两组I、II，每组包含3个插孔，您可以对每组进行单独控制。</string>
		</dict>
	</array>
</dict>
</plist>
