<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>zh-Hans</key>
	<array>
		<dict>
			<key>q</key>
			<string>如何进行一键配置？</string>
			<key>a</key>
			<string>首先确保您的智能手机已经连上WiFi，再检查设备通电后是否处于WiFi指示灯快闪状态，否则长按插孔开关至WiFi指示灯快闪。然后打开APP，点击“配置”，输入您手机当前所连WiFi名称及密码即可。如果配置失败，则重复上述步骤重新配置。</string>
		</dict>
		<dict>
			<key>q</key>
			<string>如何删除设备？</string>
			<key>a</key>
			<string>长按设备列表页的某个设备，可对其进行删除以及闪烁操作。</string>
		</dict>
		<dict>
			<key>q</key>
			<string>设备状态显示远程、在线、离线、new分别表示什么？</string>
			<key>a</key>
			<string>“远程”表示设备与客户端不在一个局域网内。“在线”表示设备与客户端在同一局域网内。“离线”表示设备配置过，但是没有接通电源。“New”表示新添加的设备。</string>
		</dict>
		<dict>
			<key>q</key>
			<string>什么是设备锁定？在哪里对设备进行锁定？</string>
			<key>a</key>
			<string>设备锁定是对设备进行加锁功能，加锁后，未添加该设备的终端将无法搜索到该设备，方便用户安全管理自己的设备。进入控制主页面，点击右上角“…”编辑图标可以进入设备信息编辑页面，可以选择对设备上锁。
            </string>
		</dict>
		<dict>
			<key>q</key>
			<string>设备的定时任务最多能添加几组？</string>
			<key>a</key>
			<string>最多能添加20组定时任务。</string>
		</dict>
		<dict>
			<key>q</key>
			<string>设备可以远程控制吗？</string>
			<key>a</key>
			<string>可以，只要设备在线，手机可以上网，那么全球任何位置都能控制。</string>
		</dict>
		<dict>
			<key>q</key>
			<string>什么是延时功能？</string>
			<key>a</key>
			<string>可以对设备进行延时XX分钟开启或者关闭操作。</string>
		</dict>
		<dict>
			<key>q</key>
			<string>如何编辑设备信息？</string>
			<key>a</key>
			<string>进入控制主页面，点击右上角“…”编辑图标，可以更改设备名称及图片。</string>
		</dict>
		<dict>
			<key>q</key>
			<string>如何控制设备开关状态？</string>
			<key>a</key>
			<string>点击【控制】，选定该设备，进入控制主页面，插排分为第一组和第二组，点击开、关图标分别控制每组插孔的开关状态。</string>
		</dict>
		<dict>
			<key>q</key>
			<string>什么是场景？</string>
			<key>a</key>
			<string>“场景”功能是可以在一个情景模式下设置一系列的操作命令，例如客厅内的空调、电视、机顶盒、灯光等。您可以选择多个设备、多条开关命令将其集中于一个场景中，只需轻轻一点场景图标，就能够触发该场景下的所有命令。</string>
		</dict>
		<dict>
			<key>q</key>
			<string>长按场景图标和短按场景图标分别代表什么？</string>
			<key>a</key>
			<string>长按场景图标可以编辑该场景的信息，或者删除该场景；短按场景图标则会执行你所选择的场景命令。</string>
		</dict>
		<dict>
			<key>q</key>
			<string>别人会不会找到我的设备，网络安全如何保证？</string>
			<key>a</key>
			<string>只有知道您家上网密码并进入同一网络的手机才可以找到设备；同时APP设置了锁定功能，您配置完成后打开锁定功能，其他人将搜索不到您的设备，以后就只有您的家中人可以进行安全控制。
            </string>
		</dict>
		<dict>
			<key>q</key>
			<string>我可以对每个插孔进行单独控制吗？</string>
			<key>a</key>
			<string>不能，该设备为六孔插排，分为两组I、II，每组包含3个插孔，您可以对每组进行单独控制。</string>
		</dict>
		<dict>
			<key>q</key>
			<string>设备配置不成功，该如何解决？</string>
			<key>a</key>
			<string>可以通过长按任一辅助开关按钮5秒钟至WiFi指示灯快闪状态，进行复位操作后配置，并检查WiFi密码输入是否正确；也可以通过断电重新配置来解决。通过以上两种方式还是不能解决，请联系客服寻求帮助。</string>
		</dict>
		<dict>
			<key>q</key>
			<string>定时任务是否可以控制路由器？</string>
			<key>a</key>
			<string>可以。因为我们的定时任务是存储在插排设备中，因此当给路由器制定了定时开任务时，是可以给启动路由器的。</string>
		</dict>
		<dict>
			<key>q</key>
			<string>面板上2个辅助按钮有什么不同？</string>
			<key>a</key>
			<string>首先，这两个按钮具有控制对应三个插孔开关的功能，其次这两个按键具有复位插排的功能；从开关上讲是分别控制不同的插孔，从复位功能上讲是没有区别的，通过长按任何一个按键均可以实现复位操作。</string>
		</dict>
		<dict>
			<key>q</key>
			<string>插排使用安全吗？</string>
			<key>a</key>
			<string>我们的插排均通过国家检测机构检测，并颁发了质量检测安全合格证书。</string>
		</dict>
		<dict>
			<key>q</key>
			<string>USB充电可以给IPAD和IPHONE充电吗？</string>
			<key>a</key>
			<string>可以的。我们的USB设计中考虑了苹果产品充电的特殊性，增加了识别机制，另外两个USB输出电流采用同一电路进行供电，因此可以满足只用一个设备充电式输出电流为5V 2.1A。</string>
		</dict>
		<dict>
			<key>q</key>
			<string>是否支持给超过2500W的产品使用？</string>
			<key>a</key>
			<string>不可以，插排的元器件均可以保证2500W的用电器长时间使用，当超过2500W时，出于安全考虑，插排会自动断电。温馨提醒：当所需要控制的用点设备超出2500W时，请选用更加合适的产品。</string>
		</dict>
		<dict>
			<key>q</key>
			<string>功率检测功能是否可以当电表使用？</string>
			<key>a</key>
			<string>不可以，本产品的功率检测和统计数据仅供参考，不能当作电表来使用。</string>
		</dict>
	</array>
	<key>en</key>
	<dict>
		<key>New item</key>
		<dict>
			<key>q</key>
			<string>How to configuring?</string>
			<key>a</key>
			<string>First,confirm that your mobile phone connect to the wifi.Then reset the device by pressing rest button until light flashing rapidly at about 5-6times per sec.Thirdly,put in the password and click configure and the light will turn into slow flash.Last,if the light is always on,means the configuring succeed.If configuring fail,repeat the above steps to reconfigure.</string>
		</dict>
		<key>New item - 2</key>
		<dict>
			<key>q</key>
			<string>How to delete device?</string>
			<key>a</key>
			<string>Press on the device at the device list to delete the device.</string>
		</dict>
		<key>New item - 3</key>
		<dict>
			<key>q</key>
			<string>The device status shows &quot;Remote&quot;,&quot;Online&quot;,&quot;Offline&quot; and &quot;New&quot;. what does that mean?</string>
			<key>a</key>
			<string>&quot;Remote&quot;means the device and your mobile phone is not in the same LAN。&quot;Online&quot;means the device and your phone is in the same LAN.&quot;Offline&quot;means the device has configured,but it does not connect to electricity.&quot;New&quot;means the device is new added。</string>
		</dict>
		<key>New item - 4</key>
		<dict>
			<key>q</key>
			<string>What is lock device? Where can I lock the device?</string>
			<key>a</key>
			<string>After the device lock,the terminals who did not add the device  will not be able to search the device.So it is safe for you to manage your device.Enter the device control page,click&quot;…&quot;icon,and enter to the device info page where you can lock your device.</string>
		</dict>
		<key>New item - 5</key>
		<dict>
			<key>q</key>
			<string>How many timer task can I set up?</string>
			<key>a</key>
			<string>At most 20</string>
		</dict>
		<key>New item - 6</key>
		<dict>
			<key>q</key>
			<string>Can I control the device remotely?</string>
			<key>a</key>
			<string>Yes,if only the device is online and your mobile phone can connect to Internet,then you can control your device all around th world.</string>
		</dict>
		<key>New item - 7</key>
		<dict>
			<key>q</key>
			<string>What is Time-delay?</string>
			<key>a</key>
			<string>Time-delay is delay sometime to turn on or turn off the device.</string>
		</dict>
		<key>New item - 8</key>
		<dict>
			<key>q</key>
			<string>How to edit the device information?</string>
			<key>a</key>
			<string>Enter the device control page,click&quot;…&quot;icon,then you can change the device&apos;s name and picture.</string>
		</dict>
		<key>New item - 9</key>
		<dict>
			<key>q</key>
			<string>How to control the device&apos;s switch?</string>
			<key>a</key>
			<string>Click&quot;Control&quot;icon，then click the device to the control page.Click&quot;ON&quot;or&quot;OFF&quot;to control the switch.</string>
		</dict>
		<key>New item - 10</key>
		<dict>
			<key>q</key>
			<string>What is &quot;scene&quot;?</string>
			<key>a</key>
			<string>&quot;Scene&quot; function can be setting a series of commands in a scene mode,Such as air conditioning, television, set-top box, lighting inside your bedroom。You can select multiple devices, multiple switch command in one scenario，then when you click the scene icon,the switch command you set up can be executed.</string>
		</dict>
		<key>New item - 11</key>
		<dict>
			<key>q</key>
			<string>What dose long press and short press on the scene icon? </string>
			<key>a</key>
			<string>Long press on the scene icon can edit or delete the scene.Short press can execute the command you set up.</string>
		</dict>
		<key>New item - 12</key>
		<dict>
			<key>q</key>
			<string>How to protect my device and prevent others find it?</string>
			<key>a</key>
			<string>Only connect to your home wifi,and then find your device. You can lock your device at &quot;Device Info&quot; page.</string>
		</dict>
		<key>New item - 13</key>
		<dict>
			<key>q</key>
			<string>Can I control each socket seperately?</string>
			<key>a</key>
			<string>No,you can&apos;t.The device which has 6 sockets is divided into two groups has，each group has 3 sockets，and you can control each group seperately。</string>
		</dict>
	</dict>
</dict>
</plist>
