<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>socket_template</key>
	<array>
		<dict>
			<key>name</key>
			<string>热水壶</string>
			<key>image</key>
			<string>001</string>
		</dict>
		<dict>
			<key>name</key>
			<string>微波炉</string>
			<key>image</key>
			<string>002</string>
		</dict>
		<dict>
			<key>name</key>
			<string>电冰箱</string>
			<key>image</key>
			<string>003</string>
		</dict>
		<dict>
			<key>name</key>
			<string>台灯</string>
			<key>image</key>
			<string>004</string>
		</dict>
		<dict>
			<key>name</key>
			<string>风扇</string>
			<key>image</key>
			<string>005</string>
		</dict>
		<dict>
			<key>name</key>
			<string>电熨斗</string>
			<key>image</key>
			<string>006</string>
		</dict>
		<dict>
			<key>name</key>
			<string>洗衣机</string>
			<key>image</key>
			<string>007</string>
		</dict>
		<dict>
			<key>name</key>
			<string>电视</string>
			<key>image</key>
			<string>008</string>
		</dict>
		<dict>
			<key>name</key>
			<string>吸尘器</string>
			<key>image</key>
			<string>009</string>
		</dict>
		<dict>
			<key>name</key>
			<string>咖啡机</string>
			<key>image</key>
			<string>010</string>
		</dict>
		<dict>
			<key>name</key>
			<string>自定义</string>
			<key>image</key>
			<string>usersetting</string>
		</dict>
	</array>
	<key>socket_images</key>
	<array>
		<string>001</string>
		<string>002</string>
		<string>003</string>
		<string>004</string>
		<string>005</string>
		<string>006</string>
		<string>007</string>
		<string>008</string>
		<string>009</string>
		<string>010</string>
		<string>usersetting</string>
	</array>
</dict>
</plist>
